a {
    border-bottom: 1px solid $color-grey-lighter;
    color: $color-grey-darkest;
    text-decoration: none;
    outline: 0;
    @include transition();

    &:hover,
    &:focus {
        border-bottom-color: transparent;
    }
}
