.stores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $size-1-5;
  grid-row-gap: $size-1-5;


  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet_landscape() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile() {
    grid-template-columns: 1fr;
    grid-row-gap: $size-1;
  }

  .stores-item {
    border: 1px solid $color-grey-light;
    padding: $size-2;
    @include transition();
    @include radius($radius);

    @include mobile() {
      padding: $size-1-5;
    }

    .stores-item-name {
      .stores-item-name-text {
        font-size: $font-24;
        color: $color-grey-darkest;
      }
    }

    .stores-item-detail {
      margin-top: $size-0-1;

      .stores-item-detail-text {
        font-size: $font-12;
        color: $color-grey-dark;
      }
    }

    &.is-danger {
      .stores-item-detail-text {
        color: $color-red-light;
      }
    }

    &:hover {
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
      border-color: $color-brand;
      background: $color-brand;

      .stores-item-name-text {
        color: $color-white;
      }

      .stores-item-detail-text {
        color: $color-brand-lighter;
      }
    }
  }
}